div{
    background-color: aqua;
    border: 4px solid black;
    height: 200px;
    padding: 20px;
}
h1{
    border: 10px solid darkcyan;
    border-left: 10px solid red;
    border-radius: 50px;
    padding: 30px 100px;
}
button:hover{
    background-color: black;
    color: aliceblue;
}
h1:hover{
    color: darkturquoise;
    font-family: 'Courier New', Courier, monospace;
}
button{
    align-items: center;
    align-items: right;
    padding: 25px;
    border-radius: 50%;
}